#Lorem{
    background-color: black;
    color: white;
    border: 3px dotted red;
    padding: 13px 13px 13px 20px;
    margin: 10px 20px 25px auto;
}
#normal{
    font-style: normal;

}
#italic{
    font-style: italic;
}
#oblique{
    font-style: oblique;
}
#smallcap{
    font-variant: small-caps;
}
 #wnormal{
     font-weight: normal;
 }
 #wbolder{
     font-weight:bold;
 }
 #wbold{
     font-weight: bolder;
 }
 #large{
     font-size:  large;
 }
 #medium{
     font-size: 25pt;
 }
 #small{margin-left: 22px;
     font-size: 3em;
 }
 #xxsmall{
     margin-left: 25px;
     font-size: 250%;
 }
